* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #ddd;
    background: url(../img/page1.jpg) top center / 100vw 100vh scroll;
}

/* section 'header' */

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(77, 61, 93);
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 2.5rem;
    & #logo {
        width: 2.5em;
        height: 2.5em;
        margin-left: .3em;
        padding-top: 0.3em;
        cursor: pointer;
        & img {
            width: 1.8em;
            height: 1.8em;
        }    
    }
    & #search {
        font-size: 2rem;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 10px;
    }       
}

#form {
    display: none;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    & x-field,
    #RU,
    #ok-btn,
    #find {
        margin-right: 5px;
        cursor: pointer;
    }    
    & #RU {
        display: none;
    }
    & #ok-btn {
        width: 2rem;
    }      
}

#form,
#inp,
#ok-btn,
#RU,
#find {
    height: 1.8em;
}

x-field {
    display: flex;
    position: relative;
    & #inp {
        min-width: 12rem;
        max-width: 40vw;
        border-radius: 5px;
    }
    & .close {
        position: absolute;
        padding: 0;
        right: .1em;
        font-size: .8em;
        top: -0.2em;
        cursor: pointer;
        opacity: .5;
    }       
}


/* section 'menu' */

#menu {
    position: fixed;
    left: 0;
    top: 2.5rem;
    display: none;
    & .item {
        width: 26rem;
        height: 50px;
        font-size: 1em;
        background-color: rgb(0, 204, 255);
        border: 1px solid green;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-bottom: .5rem;
    }    
}

#viewcomm {
    display: flex;
    justify-content: start;
    & svg {
        margin-left: 1rem;
        align-self: flex-end;
    }
    & figcaption {
        margin-left: 10px;
    }        
}

/* div 'disqus' */

#disqus {
    position: relative;
    width: 100vw;
    position: fixed;
    top: 2.5rem;
    background-color: #fff;
    padding: 0 1em 1em 1em;
    display: none;
    @media (min-width: 1200px) {
        width: 1200px;
    }
}

#hidecomm {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #00f;
    padding: 5px;
    border: 3px solid #f00;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}


/* section 'dictionary' */

#dictionary {
    margin-top: 2.5rem;
    padding: 1rem;
    @media (max-width: 768px) {
        padding: .1rem;
    }
    & #alf a {
        margin-left: 5px;
    }
    & sub,
    sup {
        font-size: .7em;
    }      
}

h3 {
    text-align: center;
    font-weight: normal;
}

h4 {
    font-weight: normal;
}

h5 {
    text-align: center;
    font-weight: bold;
}
